{% extends "base.html" %}
{% block content %}

   <!-- about section start -->
   <div class="about_section layout_padding">
      <div class="container">
         <h1 class="about_taital">About Our cycle Store</h1>
         <p class="about_text">Welcome to Cycle , where your cycling journey begins! We are a dedicated team of cycling enthusiasts committed to providing you with top-quality bikes, accessories, and services. With a wide range of bikes including mountain, road, hybrid, and electric bikes, we cater to riders of all preferences and skill levels.<br>

            At  Cycle, you'll find not just products but a supportive community.<br> Our experienced staff is here to offer expert advice, personalized bike fittings, and maintenance services to keep you rolling smoothly. We believe in promoting a healthy and active lifestyle through cycling, and we're passionate about sharing that joy with you.
            
            Explore our collection of premium cycling gear, from helmets and apparel to bike components and nutrition products. Whether you're chasing adrenaline on rugged trails or cruising through city streets, we have everything you need to elevate your ride.
            <br>
            Join us at Cycle  and discover the freedom, thrill, and camaraderie of cycling. Let's pedal towards adventure together!
         </p>
         <div class="about_main">
            <img src="/static/images/img-5.png" class="image_5">
         </div>
         
      </div>
   </div>
   <!-- about section end -->
   {% endblock %}