{% extends "base.html" %}

{% block content %}
      <!-- cycle section start -->
      <div class="cycle_section layout_padding">
         <div class="container">
            <h1 class="cycle_taital">ShopHere</h1>
            <p class="cycle_text">Discover adventure at our cycle shop!
               Perfect bikes for every rider.
               Top-quality brands for performance and style.
               Road bikes for speed, mountain bikes for trails.
               Expert staff ready to assist.
               Accessories, gear, and maintenance services available.
               Enhance your cycling experience with us!
               Visit us today and ride with joy! </p>
            <div class="cycle_section_2 layout_padding">
               <div class="row">
                  <div class="col-md-6">
                     <div class="box_main">
                        <h6 class="number_text">01</h6>
                        <div class="image_2"><img src="/static/images/img-2.png"></div>
                     </div>
                  </div>
                  <div class="col-md-6">
                     <h1 class="cycles_text">PowerPedal Pro</h1>
                     <p class="lorem_text">The PowerPedal Pro is a high-performance male bicycle designed for riders who crave speed and precision on the road. With its sleek and aerodynamic frame, this bike is engineered to maximize efficiency and minimize drag, allowing cyclists to reach their full potential. The advanced gear system ensures smooth and precise shifting, enabling riders to conquer challenging terrains with ease. Equipped with top-of-the-line components, including responsive brakes and durable tires, the PowerPedal Pro offers unmatched control and stability, making it ideal for both casual rides and competitive cycling. Whether you're sprinting down straightaways or navigating tight corners, this bike delivers an exhilarating riding experience that will satisfy even the most demanding cyclists. Experience the power of the PowerPedal Pro and elevate your cycling game to new heights</p>
                     <div class="btn_main">
                        <div class="buy_bt"><a href="{% url 'contact' %}">Buy Now</a></div>
                        <h4 class="price_text">Price <span style=" color: #f7c17b">Rs.</span> <span style=" color: #325662">15,999</span></h4>
                     </div>
                  </div>
               </div>
            </div>
            <div class="cycle_section_3 layout_padding">
               <div class="row">
                  <div class="col-md-6">
                     <h1 class="cycles_text">SCARLET SPEEDSTER<br> Junior Red</h1>
                     <p class="lorem_text">Introducing the Kids' Red Rocket Bike!<br>
                        Let your little ones embark on exciting adventures with our vibrant Kids' Red Rocket Bike. Designed with safety and fun in mind, this eye-catching red cycle features a sturdy steel frame that can withstand the playful energy of young riders. The adjustable seat ensures a comfortable fit as your child grows, while the easy-to-use coaster brakes provide reliable stopping power. With its striking red color and sleek design, this bike is sure to be a favorite among children who love to explore the great outdoors. Whether they're cruising around the neighborhood or zooming down the park's pathways, the Kids' Red Rocket Bike guarantees endless hours of joy and excitement</p>
                     <div class="btn_main">
                        <div class="buy_bt"><a href="{% url 'contact' %}">Buy Now</a></div>
                        <h4 class="price_text">Price <span style=" color: #f7c17b">Rs.</span> <span style=" color: #325662">7,999</span></h4>
                     </div>
                  </div>
                  <div class="col-md-6">
                     <div class="box_main_3">
                        <h6 class="number_text_2">02</h6>
                        <div class="image_2"><img src="/static/images/img-3.png"></div>
                     </div>
                  </div>
               </div>
            </div>
            <div class="cycle_section_2 layout_padding">
               <div class="row">
                  <div class="col-md-6">
                     <div class="box_main_3">
                        <h6 class="number_text_2">03</h6>
                        <div class="image_2"><img src="/static/images/img-4.png"></div>
                     </div>
                  </div>
                  <div class="col-md-6">
                     <h1 class="cycles_text">SCARLET SPEEDSTER <br>Junior Blue</h1>
                     <p class="lorem_text">The Scarlet Speedster Junior Blue Cycle is a vibrant and safe choice for young riders. With its adjustable features and sturdy build, it offers comfort and control. The bright blue color adds style and visibility, making it perfect for neighborhood rides and family adventures. Encourage active play with this fun and reliable bike!</p>
                     <div class="btn_main">
                        <div class="buy_bt"><a href="{% url 'contact' %}">Buy Now</a></div>
                        <h4 class="price_text">Price <span style=" color: #f7c17b">Rs.</span> <span style=" color: #325662">7,999</span></h4>
                     </div>
                  </div>
               </div>
            </div>
            <div class="read_btn_main">
               <div class="read_bt"><a href="#">Read More</a></div>
            </div>
         </div>
      </div>
      <!-- cycle section end -->
      <!-- about section start -->
      <div class="about_section layout_padding">
         <div class="container">
            <h1 class="about_taital">About Our cycle Store</h1>
            <p class="about_text">Welcome to Cycle , where your cycling journey begins! We are a dedicated team of cycling enthusiasts committed to providing you with top-quality bikes, accessories, and services. With a wide range of bikes including mountain, road, hybrid, and electric bikes, we cater to riders of all preferences and skill levels.<br>

               At  Cycle, you'll find not just products but a supportive community.<br> Our experienced staff is here to offer expert advice, personalized bike fittings, and maintenance services to keep you rolling smoothly. We believe in promoting a healthy and active lifestyle through cycling, and we're passionate about sharing that joy with you.
               
               Explore our collection of premium cycling gear, from helmets and apparel to bike components and nutrition products. Whether you're chasing adrenaline on rugged trails or cruising through city streets, we have everything you need to elevate your ride.
               <br>
               Join us at Cycle  and discover the freedom, thrill, and camaraderie of cycling. Let's pedal towards adventure together!
            </p>
            <div class="about_main">
               <img src="/static/images/img-5.png" class="image_5">
            </div>
            <div class="read_bt_1"><a href="#">Read More</a></div>
         </div>
      </div>
   

   <!-- client section start -->
<div class="client_section layout_padding">
   <div id="my_slider" class="carousel slide" data-ride="carousel">
      <div class="carousel-inner">
         <div class="carousel-item active">
            <div class="container">
               <div class="client_main">
                  <h1 class="client_taital">Says Customers</h1>
                  <div class="client_section_2">
                     <div class="client_left">
                        <div><img src="/static/images/client-img.png" class="client_img"></div>
                     </div>
                     <div class="client_right">
                        <div class="quote_icon"><img src="/static/images/quote-icon.png"></div>
                        <p class="client_text">I highly recommend Cycle to anyone looking for a great shopping experience with friendly staff, quality products, and excellent service. I'll definitely be returning for all my future shopping needs!"</p>
                        <h3 class="client_name">Shantanu</h3>
                     </div>
                  </div>
               </div>
            </div>
         </div>
         <div class="carousel-item">
            <div class="container">
               <div class="client_main">
                  <h1 class="client_taital">Says Customers</h1>
                  <div class="client_section_2">
                     <div class="client_left">
                        <div><img src="/static/images/client-img.png" class="client_img"></div>
                     </div>
                     <div class="client_right">
                        <div class="quote_icon"><img src="/static/images/quote-icon.png"></div>
                        <p class="client_text">The service at [Cycle] is top-notch, and I left the store feeling confident and excited about my new bike. I highly recommend [Cycle Shop Name] to anyone in search of quality bikes and excellent customer service. Thank you for making my cycling journey a memorable one!"</p>
                        <h3 class="client_name">Abhishek</h3>
                     </div>
                  </div>
               </div>
            </div>
         </div>
         <div class="carousel-item">
            <div class="container">
               <div class="client_main">
                  <h1 class="client_taital">Says Customers</h1>
                  <div class="client_section_2">
                     <div class="client_left">
                        <div><img src="/static/images/client-img.png" class="client_img"></div>
                     </div>
                     <div class="client_right">
                        <div class="quote_icon"><img src="/static/images/quote-icon.png"></div>
                        <p class="client_text">"I recently visited Cycle and had an outstanding experience! From the moment I walked in, I was greeted by friendly and knowledgeable staff who were eager to assist me in finding the perfect bike. They patiently answered all my questions and helped me choose a bike that fit my needs and budget perfectly.</p>
                        <h3 class="client_name">Raj Verma</h3>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <a class="carousel-control-prev" href="#my_slider" role="button" data-slide="prev">
         <i class="fa fa-angle-left"></i>
      </a>
      <a class="carousel-control-next" href="#my_slider" role="button" data-slide="next">
         <i class="fa fa-angle-right"></i>
      </a>
   </div>
</div>
<!-- client section end -->

      <!-- news section start -->
      <div class="news_section layout_padding">
         <div class="container">
            <h1 class="news_taital">News</h1>
            <p class="news_text">"Pedal Power News: Exciting Updates and Offers at Our Cycle Store!" </p>
            <div class="news_section_2 layout_padding">
               <div class="row">
                  <div class="col-sm-4">
                     <div class="box_main_1">
                        <div class="zoomout frame"><img src="/static/images/img-6.png"></div>
                        <div class="padding_15">
                           <h2 class="speed_text">Snow cycle</h2>
                           <div class="post_text">Post by : Atharva <span style="float: right;">20-01-2024</span></div>
                           <p class="long_text">"Exciting News for Our Cycle Shop! Introducing Snow Bikes for Winter Adventures! Experience the thrill of riding on snow-covered terrain with our new lineup of snow bikes. Perfect for winter sports enthusiasts and adventurous riders. Visit us today to explore our latest additions and gear up for snowy adventures!" </p>
                        </div>
                     </div>
                  </div>
                  <div class="col-sm-4">
                     <div class="box_main_1">
                        <div class="zoomout frame"><img src="/static/images/img-7.png"></div>
                        <div class="padding_15">
                           <h2 class="speed_text">Speed cycle</h2>
                           <div class="post_text">Post by : Shantanu <span style="float: right;">20-12-2023</span></div>
                           <p class="long_text">"Get Ready to Dominate the Race Track with Our Racing Cycles! Designed for speed, agility, and performance, our racing cycles are engineered to take your racing experience to the next level. Featuring lightweight frames, aerodynamic designs, and precision components, our racing cycles are built to conquer any course. Explore our collection and gear up for thrilling races and podium finishes!" </p>
                        </div>
                     </div>
                  </div>
                  <div class="col-sm-4">
                     <div class="box_main_1">
                        <div class="zoomout frame"><img src="/static/images/img-8.png"></div>
                        <div class="padding_15">
                           <h2 class="speed_text">Stunt cycle</h2>
                           <div class="post_text">Post by : Tushar <span style="float: right;">10-08-2023</span></div>
                           <p class="long_text">"Unleash Your Stunt Skills with Our Stunt Cycles! Designed for adrenaline junkies and thrill-seekers, our stunt cycles are built to handle the toughest tricks and maneuvers. With sturdy frames, reinforced components, and agile handling, these cycles are perfect for mastering stunts and pushing your limits. Explore our collection and elevate your stunt game today!" </p>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <!-- news section end -->
      <!-- contact section start -->
   
      <div class="contact_section layout_padding">
         <div class="container">
            <div class="contact_main">
               <h1 class="request_text">A Call Back</h1>
               <form action="{% url 'contact' %}" method="post">
                  {% csrf_token %}
                  <div class="form-group">
                     <input type="text" class="email-bt" placeholder="Name" name="Name">
                  </div>
                  <div class="form-group">
                     <input type="text" class="email-bt" placeholder="Email" name="Email">
                  </div>
                  <div class="form-group">
                     <input type="text" class="email-bt" placeholder="Phone Number" name="Phone Number">
                  </div>
                  <div class="form-group">
                     <textarea class="massage-bt" placeholder="Message" rows="5" id="comment" name="Massage"></textarea>
                  </div>
                  <div class="send_bt"><a href=""><input type="submit" value="SEND" class="send_input"></a></div>
               </form>
               
            </div>
         </div>
      </div>
     
      <!-- contact section end -->
      {% endblock %}