{% extends "base.html" %}
{% block content %}

   <!-- news section start -->
   <div class="news_section layout_padding">
      <div class="container">
         <h1 class="news_taital">News</h1>
         <p class="news_text">It is a long established fact that a reader will be distracted by the readable content of
            a page when looking at its layout. The point of using </p>
         <div class="news_section_2 layout_padding">
            <div class="row">
               <div class="col-sm-4">
                  <div class="box_main_1">
                     <div class="zoomout frame"><img src="/static/images/img-6.png"></div>
                     <div class="padding_15">
                        <h2 class="speed_text">Snow cycle</h2>
                        <div class="post_text">Post by : Atharva <span style="float: right;">10-1-2014</span></div>
                        <p class="long_text">
                           "Exciting News for Our Cycle Shop! Introducing Snow Bikes for Winter Adventures! Experience the thrill of riding on snow-covered terrain with our new lineup of snow bikes. Perfect for winter sports enthusiasts and adventurous riders. Visit us today to explore our latest additions and gear up for snowy adventures!" </p>
                     </div>
                  </div>
               </div>
               <div class="col-sm-4">
                  <div class="box_main_1">
                     <div class="zoomout frame"><img src="/static/images/img-7.png"></div>
                     <div class="padding_15">
                        <h2 class="speed_text">Speed cycle</h2>
                        <div class="post_text">Post by : Shantanu <span style="float: right;">20-12-2023</span></div>
                        <p class="long_text">
                           "Get Ready to Dominate the Race Track with Our Racing Cycles! Designed for speed, agility, and performance, our racing cycles are engineered to take your racing experience to the next level. Featuring lightweight frames, aerodynamic designs, and precision components, our racing cycles are built to conquer any course. Explore our collection and gear up for thrilling races and podium finishes!" </p>
                     </div>
                  </div>
               </div>
               <div class="col-sm-4">
                  <div class="box_main_1">
                     <div class="zoomout frame"><img src="/static/images/img-8.png"></div>
                     <div class="padding_15">
                        <h2 class="speed_text">Stunt cycle</h2>
                        <div class="post_text">Post by : Tushar <span style="float: right;">10-08-2023</span></div>
                        <p class="long_text">"Unleash Your Stunt Skills with Our Stunt Cycles! Designed for adrenaline junkies and thrill-seekers, our stunt cycles are built to handle the toughest tricks and maneuvers. With sturdy frames, reinforced components, and agile handling, these cycles are perfect for mastering stunts and pushing your limits. Explore our collection and elevate your stunt game today!" </p>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
   <!-- news section end -->
   
   {% endblock %}